global
    log         127.0.0.1 local2
    maxconn     4000
    daemon

defaults
    mode                    tcp
    log                     global
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats-50000
    bind :50000
    mode            http
    log             global
    maxconn 10
    timeout client  100s
    timeout server  100s
    timeout connect 100s
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats

frontend api-hub-6443
    bind :6443
    mode tcp
    default_backend api-hub

frontend router-http-hub-80
    bind :80
    mode tcp
    default_backend router-http-hub

frontend router-https-hub-443
    bind :443
    mode tcp
    default_backend router-https-hub

backend api-hub
    balance source
    mode tcp
    server master0 192.168.125.20:6443 check inter 1s
    server master1 192.168.125.21:6443 check inter 1s
    server master2 192.168.125.22:6443 check inter 1s
    
backend router-http-hub
    balance source
    mode tcp
    server master0 192.168.125.20:80 check inter 1s
    server master1 192.168.125.21:80 check inter 1s
    server master2 192.168.125.22:80 check inter 1s

backend router-https-hub
    balance source
    mode tcp
    server master0 192.168.125.20:443 check inter 1s
    server master1 192.168.125.21:443 check inter 1s
    server master2 192.168.125.22:443 check inter 1s
